{{#each this}}
<div class="photo-card">
  <div class="image-wraper">
    <a class="gallery-link" href="{{largeImageURL}}">
  <img class="gallery-image" src="{{webformatURL}}" alt="tags" loading="lazy" />
  </a>
  </div>
  <div class="info">
    <p class="info-item">
      <b>Likes</b>
      <span>{{likes}}</span>
    </p>
    <p class="info-item">
      <b>Views</b>
      <span>{{views}}</span>
    </p>
    <p class="info-item">
      <b>Comments</b>
      <span>{{comments}}</span>
    </p>
    <p class="info-item">
      <b>Downloads</b>
      <span>{{downloads}}</span>
    </p>
  </div>
</div>
{{/each}}